{% extends 'page_default.html.twig' %}

{% block title %}{{ title }}{% endblock %}
{% block page_title %}{{ title }}{% endblock %}

{% block main %}
    <div class="block block--article article-new">
        <div class="block-content">
            {{ include('block/message.html.twig') }}
            {{ form_start(form_user) }}
            {{ form_widget(form_user) }}
            <div class="admin-user-form-role">
                <label>Role</label>
                <a href="{{ path('admin_user_change_role', {'id': user.id, 'role' : 'reader'}) }}">ROLE_READER</a> <span class="info-title">|</span>
                <a href="{{ path('admin_user_change_role', {'id': user.id, 'role' : 'blogger'}) }}">ROLE_BLOGGER</a>
            </div>
            <button type="submit" class="btn btn-default">Save</button>
            {{ form_end(form_user) }}
        </div>
    </div>
{% endblock %}
