<div class="block-title">
    <h2>Recent comments</h2>
</div>
<div class="block-content">
    <div class="block-list-latest-comments">
        {% for comment in comments %}
            <div class="latest-comment">
                <a href="#">{{ comment.user.lastName }} {{ comment.user.firstName }}</a> <span class="info-title">commented</span>
                <a href="{{ path('article_view', {id : comment.article.id}) }}#comment-{{ comment.id }}">{{ comment.article.title }}</a>
                <span class="info-title">{{ comment.createdAt|date("d-m-Y H:m") }}</span>
                {{ comment.comment }}
            </div>
        {% endfor %}
    </div>
</div>
