{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="/public/css/base.css">
    <link rel="stylesheet" href="/public/css/components/header.css">
    {#<link rel="stylesheet" href="{{ asset('css/base.css') }}">#}
{% endblock %}

{% block body %}
    {% block header %}
        <div id="header">
            <a href="{{ path('index') }}">Home</a> |
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <a href="{{ path('app_logout') }}">Logout</a> |
                <a href="{{ path('article_new') }}">New article</a>
            {% else %}
                <a href="{{ path('app_login') }}">Log in</a> |
                <a href="{{ path('app_registration') }}">Registration</a>
            {% endif %}
        </div>
    {% endblock %}
    {% block content %}

    {% endblock %}
    {% block footer %}
        <footer role="contentinfo">
            <span class="copyright_block">&copy; 2018{% if 2018 < 'now'|date('Y') %} {{ '- ' ~ 'now'|date('Y') }} {% endif %} All right reserved. Lektorium Blog</span>
        </footer>
    {% endblock %}
{% endblock %}
