<tr class="list-article">
    <td>{{ user.id }}</td>
    <td><a href="#">{{ user.firstName }} {{ user.lastName }}</a></td>
    <td>{{ user.createdAt ? user.createdAt|date('Y-m-d H:i') : '' }}</td>
    <td>
        <div class="admin-link-action action">
            <a href="#">Edit</a>
            <a href="{{ path('admin_user_delete', {'id': user.id}) }}">Delete</a>
        </div>
    </td>
</tr>
