<tr class="list-article">
    {% set path = path('article_view', {id:article.id}) %}
    <td>{{ article.id }}</td>
    <td><a href="{{ path }}">{{ article.title }}</a></td>
    <td>{{ article.createdAt ? article.createdAt|date('Y-m-d H:i') : '' }}</td>
    <td>
        <div class="admin-link-action action">
            <a href="{{ path('admin_article_edit', {id:article.id}) }}">Edit</a>
            <a href="#">Delete</a>
        </div>
    </td>
</tr>
