{% extends 'base.html.twig' %}
{% block title %}
    Articles list
{% endblock %}

{% block body %}
    <ul>
        <li>
            <a href="{{ path('user_register') }}">Register user</a>
        </li>
    </ul>
    <h1>Article index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Text</th>
            <th>Author</th>
            <th>Created</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.title }}</td>
                <td>{{ article.text }}</td>
                <td>{{ article.author }}</td>
                <td>{{ article.created ? article.created|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="#">show</a>
                    <a href="#">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no articles found!</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('new_article') }}">Create new</a>
{% endblock %}
