{% extends 'page_default.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}
{% block page_title %}{{ article.title }}{% endblock %}

{% block main %}
    <article class="block block--article-view article-view">
        <div class="block-content">
            <div class="fields fields-top">
                <div class="field fields-info">
                    <span class="info-title">Author:</span> {{ article.user.lastName }} {{ article.user.firstName }} <span class="info-title">| CreatedAt:</span> {{ article.createdAt ? article.createdAt|date('Y-m-d H:i') : '' }} <span class="info-title">| Comments:</span> {{ article.comments | length }}
                </div>
                <div class="field field-image">
                    <img id="img-article" src="{{ asset('images/articles')}}/{{ article.imageName }}"/>
                </div>
                <div class="field field-body">{{ article.text }}</div>
                <div class="field field-like">
                    <a href="{{ path('article_like_add', {id:article.id}) }}">like</a> ({{ article.likes |length }}) |
                    {{ include('tag/list.html.twig', {'tags' : article.tags}) }}
                </div>
            </div>

            <div class="field field-comments">
                <div class="comment-preview">
                    {{ include('comment/lists.html.twig', {'comments' : article.comments}) }}
                    <h2 class="comment-title">Add comment</h2>
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        {{ render(controller('App\\Controller\\CommentController::new', {'id':article.id})) }}
                    {% else %}
                        <p>To add comments, you must <a href="{{ path('app_login') }}">Log in</a> or <a href="{{ path('app_registration') }}">Registration</a></p>
                    {% endif %}
                </div>
            </div>
        </div>
    </article>
{% endblock %}
