{% extends 'page_default.html.twig' %}

{% block page_title %}
    {{ article.title }}
{% endblock %}

{% block main %}
    <article class="block block--article-view article-view">
        <div class="block-content">
            <div class="fields field-top">
                <div class="field field-info">
                    Author: {{ article.user.lastName }} {{ article.user.firstName }} | CreatedAt: {{ article.createdAt ? article.createdAt|date('Y-m-d H:i') : '' }} | Comments: {{ article.comments | length }}
                </div>
                <div class="field field-body">{{ article.text }}</div>
                <div class="field field-like">
                    <a href="{{ path('article_like_add', {id:article.id}) }}">like</a> ({{ article.likes |length }})
                </div>
            </div>

            <div class="field field-comments">
                <div class="comment-preview">
                    {{ include('comment/lists.html.twig', {'comments' : article.comments}) }}
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        {{ include('comment/form.html.twig') }}
                    {% else %}
                        <p>To add comments, you must <a href="{{ path('app_login') }}">Log in</a> or <a href="{{ path('app_registration') }}">Registration</a></p>
                    {% endif %}
                </div>
            </div>
        </div>
    </article>
{% endblock %}
